.aboutBox{
    padding-top: 2%;
    width: 40vw;
    margin-left:30vw;
    font-size: large;
}

@media only screen and (max-width: 430px){
    .aboutBox{
        padding: 5% 0%;
        font-size:15px;
        width:75vw;
        margin-left: 10%;
    }
}