ul{
    list-style-type: none;
}

.projBox{
    background-color: aliceblue;
    padding: 10px;
    color: black;
    text-decoration: none;
    width:40%;
    border-radius: 20px;
}

.projTitle{
    display: flex;
    justify-content: left;
}

.projSkills{
    display: flex;
    justify-content: left;
    width: 50%;
    font-size: small;
    text-align: left;
}

.projDesc{
    display: flex;
    justify-content: left;
    text-align: left;
    width: 50%;
}

.projImg{
    width:50%;
    display:inline-block;
    justify-content: right;
}