.skillsBox{
    padding-top: 3%;
}

.skills-button{
    background-color: var(--second-col);
    padding: 10px;
    color: var(--first-col);
    font-size: large;
    text-decoration: none;
    box-shadow: 3px 6px 6px var(--sixth-col);
    transition: 0.6s;
}

.skills-button:hover{
    transform: scale(1.1);
}