.skillsBox{
    padding-top: 3%;
}

.skills-button{
    background-color: #dfafbc;
    padding: 10px;
    color: black;
    font-size: large;
    text-decoration: none;
    box-shadow: 3px 6px 6px grey;
}