.App {
  text-align: center;
  background-image: linear-gradient(#f5f1e6, white);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
  margin: 5px;
  display: inline-block;
  border-radius: 20px;
  color: black;
}

.section-header{
  font-size: 40px;
  background-color: #f5e6ea;
  border-radius: 10px;
  max-width: 20%;
  background-position-x: center;
  margin-left: 40%;
}