#navHolder{
    padding-top: 2.5%;
}

#home{
    background-color: var(--second-col);
    max-height: 750px;
}

#about{
    padding-top: 2%;
}

#projects{
    padding-top: 2%;
}

#skills{
    padding-top: 3%;
    max-width: 50%;
    padding-left: 25%;
}

#experience{
    padding-top: 5%;
}

#contact{
    padding-top: 5%;
    padding-bottom: 5%;
}

#modeSwitch{
    border: solid var(--first-col);
    border-radius: 50px;
    box-shadow: 3px 6px 6px var(--sixth-col);
    position: fixed;
    right:50px;
    bottom: 50px;
    cursor: pointer;
}

@media only screen and (max-width: 430px){
    #home{
        padding-top: 2.5%;
        max-height: 400px;
    }
}