#navHolder{
    padding-top: 2.5%;
}

#home{
    background-color: #dfafbc;
    max-height: 750px;
}

#about{
    padding-top: 2%;
}

#projects{
    padding-top: 5%;
}

#skills{
    padding-top: 5%;
    max-width: 50%;
    padding-left: 25%;
}

#experience{
    padding-top: 5%;
}

#contact{
    padding-top: 5%;
}

.modeSwitch{
    content: url('./assets/icons/siteMode/moon.png');
    width:50px;
    height: 50px;
    border: solid black;
    border-radius: 50px;
    box-shadow: 3px 6px 6px grey;
    position: fixed;
    right:50px;
    bottom: 50px;
}